.open-close_sidenav_btn {
  padding: 15px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  position: absolute;
  z-index: 5000;
  top: 0;
}
.open-close_sidenav_btn {
  font-size: 3vh;
}



.sidenav {
  /* height: 100vh; */
  height: 100%;
  width: 0px;
  z-index: 1;
  top: 0;
  position: absolute;
  position: fixed;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  /* transition: var(--animation-delay); */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  z-index: 100000;
}
.sidenav-scroller-container {
  /* position: absolute; */
  /* top: 74px; */
  /* height: 151px; */
  height: 85%;
  width: -webkit-fill-available;
  /* background-color: #ff000030; */
  z-index: 500000000;
  overflow: scroll;
  /* width: 80%; */
  overflow-x: hidden;
  overflow-y: auto;
}
.sidenavlinkscontainer {
  text-align: center;
  display: grid;
  width: inherit;
  margin-right: 33px;
  margin-left: 33px;
}
.sidenavlinkscontainer a:hover{background-color: #557ad1;}
.sidenav .nav_socialinks a {
  color: #f6f7fb;
  display: -webkit-inline-box;
  /* background-color: var(--sidenav-background-color); */
  background-color: #0e111d00;
  margin-left: 6px;
  margin-right: 6px;
  padding: 11px;
  border-radius: 10px;
  font-size: 20px;
  font-size: 2.5vh;
  border-bottom: 0px;
}
.sidenav a {
  font-family: "proxima-nova",sans-serif;
  text-decoration: none;
  color: white;
  font-size: 2.5vh;
  padding: 10px;
  text-transform: uppercase;
  border-bottom: solid #4a4a4a54 2px;
  border-bottom: solid #141415 2px;
  /* transition: 0.6s; */
}
@media screen and (max-width: 655px) and (orientation: landscape){
  .open-close_sidenav_btn {font-size: 5vh;}
  .sidenavlinks{ font-size: 5vh;}
}